<div class="row pt-5 justify-content-center">
  <div class="col-10"><p class="dashboard-title">APLIKACJA SKLEPU INTERNETOWEGO Z DOSTAWAMI</p></div>

</div>

<div class="mx-5 pb-5 border" style="background-color: #c3d3ef">
  <div class="row justify-content-center">
    <div class="col-4"><p class="dashboard-text">JESTEM: </p></div>
  </div>
  <div class="row pt-2 justify-content-center">
    <div class="col-6" align="center">
      <a [routerLink]="['/client']">
        <button class="btn btn-outline-primary btn-lg">
          KLIENTEM
        </button>
      </a>
    </div>
    <div class="col-6" align="center">
      <a [routerLink]="['/courier']">
        <button class="btn btn-outline-secondary btn-lg">
          DOSTAWCĄ
        </button>
      </a>
    </div>
  </div>
</div>



